Repository criticalstack/e2d, pull requests merged in 2019-07, with the labels that each got.

#1 Fix isIndex for primary keys
  pkg/e2db/README.md
  pkg/e2db/model.go
Labels: e2db

#2 Fix e2db autosync
  pkg/client/config.go
  pkg/e2db/config.go
  pkg/e2db/db.go
  pkg/manager/gossip_test.go
  pkg/manager/manager_test.go
Labels: bug, e2db

#3 e2db: index missing error when calling slice Find
  pkg/e2db/db_test.go
  pkg/e2db/query.go
Labels: bug, e2db

#4 pkg/e2db: fix Delete bug on primary index
  pkg/e2db/db_test.go
  pkg/e2db/model.go
  pkg/e2db/query.go
  pkg/e2db/tx.go
Labels: bug, e2db

#6 Add batch operations for transaction atomicity
  pkg/e2db/db_test.go
  pkg/e2db/tx.go
  pkg/log/log.go
Labels: e2db, enhancement

#7 pkg/e2db: omit zero-value required fields from Update
  pkg/e2db/tx.go
Labels: e2db
